/*��С����ť*/
QPushButton#ButtonMin
{
    border-image:url(:/Resources/MyTitle/min.png) 0 81 0 0 ;
}

QPushButton#ButtonMin:hover
{
    border-image:url(:/Resources/MyTitle/min.png) 0 54 0 27 ;
}

QPushButton#ButtonMin:pressed
{
    border-image:url(:/Resources/MyTitle/min.png) 0 27 0 54 ;
}

/*���󻯰�ť*/
QPushButton#ButtonMax
{
    border-image:url(:/Resources/MyTitle/max.png) 0 81 0 0 ;
}

QPushButton#ButtonMax:hover
{
    border-image:url(:/Resources/MyTitle/max.png) 0 54 0 27 ;
}

QPushButton#ButtonMax:pressed
{
    border-image:url(:/Resources/MyTitle/max.png) 0 27 0 54 ;
}

/*��ԭ��ť*/
QPushButton#ButtonRestore
{
    border-image:url(:/Resources/MyTitle/restore.png) 0 81 0 0 ;
}

QPushButton#ButtonRestore:hover
{
    border-image:url(:/Resources/MyTitle/restore.png) 0 54 0 27 ;
}

QPushButton#ButtonRestore:pressed
{
    border-image:url(:/Resources/MyTitle/restore.png) 0 27 0 54 ;
}

/*�رհ�ť*/
QPushButton#ButtonClose
{
    border-image:url(:/Resources/MyTitle/close.png) 0 81 0 0 ;
    border-top-right-radius:3 ;
}

QPushButton#ButtonClose:hover
{
    border-image:url(:/Resources/MyTitle/close.png) 0 54 0 27 ;
    border-top-right-radius:3 ;
}

QPushButton#ButtonClose:pressed
{
    border-image:url(:/Resources/MyTitle/close.png) 0 27 0 54 ;
    border-top-right-radius:3 ;
}
